@charset "UTF-8";

div#tv-radio{
	width:900px;
	height:580px;
	margin:auto;
	background: url("../_imagens/radio-tv.png")no-repeat;
}
div#tv-radio audio#musica{
	display:block;
	position:relative;
	left:573px;
	top:489px;
}
div#tv-radio video#filme03{
	display:block;
	position:relative;
	left:80px;
	top:13px;
	width:455px;
	height:330px;
}